/* app.css */
.root {
    -fx-background-image: url("../img/bg.png"); /* src/main/resources/img/bg.png */
    -fx-background-repeat: no-repeat; /* no-repeat | repeat | round | space */
    -fx-background-position: center center; /* x y，use left/center/right + top/center/bottom */
    -fx-background-size: 100% 100%; /* w h：auto；100% 100% = fit */
    -fx-spacing: 20;
    -fx-padding: 40;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: #232526;
    -fx-spacing: 5;
    -fx-font-size: 15;
    -fx-font-family: "system-ui";
    -fx-font-weight: bold;
}

.button {
    -fx-background-radius: 5;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-background-color: #d7cfca;
    -fx-border-color: #a4a09e;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #d7cdc7;
    -fx-border-color: #bd8f76;
    -fx-text-fill: #383737;
}

.buttonLayout {
    -fx-background-radius: 10;
    -fx-font-size: 15;
    -fx-background-color: #efe5de;
    -fx-border-color: #f3ddd2;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-background-color: rgba(121, 94, 76, 0.76);
}

.pageLayout {
    -fx-background-radius: 10;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-spacing: 15;
    -fx-padding: 20;
}

.showText {
    -fx-spacing: 10;
    -fx-control-inner-background: rgba(245, 230, 202, 0.91);
    -fx-background-color: #eedfd3;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.sectionLayout {
    -fx-background-image: url("../img/sectionBg.png");
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: #fff9f4;
    -fx-background-radius: 15;
    -fx-background-size: 100% 100%;
}

.inputLayout {
    -fx-background-color: rgba(108, 83, 63, 0.6);
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-radius: 15;
    -fx-background-size: 100% 100%;
}

.title {
    -fx-text-fill: #232526;
    -fx-font-size: 45;
    -fx-font-family: "Lucida Handwriting";
    -fx-font-weight: bold;
    -fx-background-color: rgba(245, 226, 206, 0.5);
    -fx-background-radius: 30;
}

.subtitle {
    -fx-text-fill: #232526;
    -fx-font-size: 20;
    -fx-font-family: "Lucida Handwriting";
    -fx-font-weight: bold;
    -fx-background-color: rgba(255, 233, 208, 0.9);
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-spacing: 15;
}